<div class="content">
    <h4>Add Reservation</h4>
    <!--<form>
    ng-submit="createCon(res)"-->
    <form ng-submit="createCon.addReservation(res)" ng-controller="ResCreateController as createCon" >
        <table class="settings">
            <tr>
                <td>Name</td>
                <td><input type="text" ng-model="res.customerName" id="name" required></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><input type="text" ng-model="res.time" id="resTime" placeholder="HH:MM" required>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type="text" ng-model="res.date" value="" id="resDate" placeholder="YYYY/MM/DD" required></td>
            </tr>
            <tr>
                <td>Party Size</td>
                <td><input type="number" ng-model="res.size" min="1" max="16" id="partySize" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" ng-model="res.email" id="email" required></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Add" class="btn btn-default"></td>
            </tr>
        </table>
    </form>
</div>