<div class="content">
    <div ng-include = "'app/Customer/nav.tmpl.html'"></div>
    <h4>Edit Reservation</h4>
    <form ng-submit="updateCon.updateRes(res, res.email)" ng-controller="ResUpdateController as updateCon">
        <table class="settings">
            <tr>
                <td>Name</td>
                <td><input type="text" placeholder={{resSingleModel.info.customerName}} ng-model="res.customerName"  id="name" required></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><input type="text" placeholder="{{resSingleModel.info.time}}" ng-model="res.time" id="resTime" required>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type="text" placeholder="{{resSingleModel.info.date}}" ng-model="res.date" id="resDate" required></td>
            </tr>
            <tr>
                <td>Party Size</td>
                <td><input type="number" placeholder="{{resSingleModel.info.size}}" ng-model="res.size" min="1" max="16" id="partySize" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" ng-model="res.email"></td>
                <td>Enter your mail address for confirmation</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="Update" class="btn btn-default"></td>
            </tr>
        </table>
    </form>
</div>