<div class="content">
    <div ng-include = "'app/Customer/nav.tmpl.html'"></div>
    <h4>Profile</h4>
    <form ng-submit="updateCon.updateCust(cust, cust.email)" ng-controller="CustProUpdateController as updateCon">
        <table class="settings">
            <tr>
                <td>Name</td>
                <td><input type="text" placeholder="{{custSingle.info.customerName}}" ng-model="cust.customerName" id="name"></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" placeholder="{{custSingle.info.phone}}" ng-model="cust.phone"  id="pNo" pattern="[0-9]{10}"></td>
            </tr>
            <tr>
                <td>Email ID</td>
                <td><input type="email" placeholder="{{custSingle.info.email}}" ng-model="cust.email" id="email"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" id="newPass" ng-model="cust.password"></td>
            </tr>
            <tr>
                <td>Current Password</td>
                <td><input type="password" id="currPass"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td><td></td><td><input type="submit" value="Update" class="btn btn-default"></td>
            </tr>
        </table>
    </form>
</div>